@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background: linear-gradient(
    90deg,
    rgba(252, 255, 245, 1) 0%,
    rgba(235, 241, 255, 1) 100%
  );
}
